<section id="products" class="container">
    {{#each products}}
        <div class="edit_panel">
        <h2>Edytuj produkt</h2>
        <nav>
            <button class="remove_button" onclick="openDelete()"><i class="fa fa-trash"></i></button>
        </nav>
        </div>
        <form action="/summary/editsummary/{{id}}" method="POST">
            <div class="input-group">
                <label for="product_name">Nazwa produktu</label>
                <h2>{{product_name}}</h2>
            </div>
            <div class="input-group">
                <label for="amount">Liczba sztuk</label>
                <input type="text" name="amount" id="amount" class="input-box" placeholder={{amount}} maxlength="100"
                value={{amount}}>
            </div>
            <div class="input-group">
                <label for="price">Cena PLN</label>
                <input type="text" name="price" id="price" class="input-box" placeholder={{price}} maxlength="100"
                value={{price}}>
            </div>
            <div style="display: none;">
                <input name="month_name" value={{month_name}} style="display: none;">
                <input name="month_year" value={{month_year}} style="display: none;">
                <input name="userId" value={{userId}} style="display: none;">
                <input name="product_name" value={{product_name}} style="display: none;">
            </div>
            <div>
                <input type="submit" value="Zatwierdź" class="btn btn-reverse" style="display: inline-block; margin-right: 10px;">
                <a href="/summary/total">
                    <button type="button" class="btn cancel" style="display: inline-block; margin-top: 10px;">Anuluj</button>
                </a>
            </div>
        </form>
    {{/each}}

    <div class="form-popup" id="myDelete">
        <form action="/summary/errsummary/{{products.[0].id}}" 
        method="POST" class="form-container">
            <h1>Potwierdź operację</h1>
            <button type="submit" class="btn delete" onclick="closeDelete()">Usuń</button>
            <button type="button" class="btn cancel" onclick="closeDelete()">Anuluj</button>
        </form>
    </div>

</section>

<script>
  function openDelete() {
    document.getElementById("myDelete").style.display = "block";
  }
  function closeDelete() {
    document.getElementById("myDelete").style.display = "none";
  }
</script>