<section id="mtable" class="container">
  {{#each mtable}}
  {{#if @first}}
  <h2><a href="/users" class="user_name"><i class="fa fa-reply"></i></a> 
      {{first_name}} {{last_name}}</h2>
  {{/if}}
  {{else}}
  <h2><a href="/users" class="user_name"><i class="fa fa-reply"></i></a> </h2>
  {{/each}}

  {{#each mtable}}
    {{#if (ifNot amount 0)}}
      {{#if (ifNot month_number -1)}}
        <hr>
        <h2>{{month_name}} {{month_year}}</h2>
      {{/if}}

      <section class="container_mtable">
        <table class="display-table">
          <tr>
            <th>{{product_name}}</th>
          </tr>
          <tr class='op_color'>
            <td>{{amount}}</td>
          </tr>
          <tr class='op_color'>
            <td>{{price}} zł</td>
          </tr>
        </table>  
      </section>
      {{#if (ifNot total -1)}}
        <section class="sum_of_month">
          <table class="display-sumtable">
            <tr>
              <th>Suma: {{total}} zł</th>
            </tr>
          </table>
        </section>
      {{/if}}
    {{/if}}
  {{/each}}

</section>