<section id="mtable" class="container">
  {{#each mtable}}
  {{#if @first}}
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  {{/if}}
  {{/each}}
  {{#each mtable}}
  <div class="mtable">
    <p>Produkt: {{product.product_name}}</p>
    <p>Cena: {{price}}</p>
    <p>Miesiąc zakupu: {{month_name}}</p>
    <hr>
  </div>
  {{else}}
  <p>No mtables available</p>
  {{/each}}
  <p>Total: {{total}}</p>

</section>