<section id="mtable" class="container">
  {{#each mtable}}
  {{#if @first}}
  <h2><a href="/users" class="user_name"><i class="fa fa-reply"></i></a> 
      {{first_name}} {{last_name}}</h2>
  {{/if}}
  {{else}}
  <h2><a href="/users" class="user_name"><i class="fa fa-reply"></i></a> </h2>
  {{/each}}

  {{#each mtable}}
    {{#if (ifNot amount 0)}}
      {{#if (ifNot month_number -1)}}
        <hr>
        <h2>{{month_name}} {{month_year}}</h2>
      {{/if}}

      <section class="container_mtable">
        <table class="display-table">
          <tr>
            <th>{{product_name}}</th>
          </tr>
          <tr class='op_color'>
            <td>{{amount}}</td>
          </tr>
          <tr class='op_color'>
            <td>{{price}} zł</td>
          </tr>
        </table>  
      </section>
      {{#if (ifNot total -1)}}
        <section class="container_mtable">
          <button class="add_button" onclick="openForm()"><i class="fa fa-plus"></i></button>
        </section>
      {{/if}}
      {{#if (ifNot total -1)}}
        <section class="sum_of_month">
          <table class="display-sumtable">
            <tr>
              <th>Suma: {{total}} zł</th>
            </tr>
          </table>
        </section>
      {{/if}}
    {{/if}}
  {{/each}}

  <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Dodaj produkt</h1>

          <label for="first_name">Produkt</label>
          <div class="input-group">
            <select id="dessert" class="input-box">
              {{#each products}}
                <option value="Panna cotta">{{product_name}}</option>
              {{/each}}
            </select>
          </div>
          <label for="first_name">Ilość</label>
          <input type="text" name="first_name" id="first_name" class="input-box" placeholder="np. 1" maxlength="100"
            value={{first_name}}>
          <label for="first_name">Cena PLN</label>
          <input type="text" name="first_name" id="first_name" class="input-box" placeholder="np. 170" maxlength="100"
            value={{first_name}}>

        <button type="submit" class="btn btn-reverse">Dodaj</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Anuluj</button>
    </form>
  </div>
</section>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>