<section id="summary" class="container">
  {{#each summary}}
    {{#if @first}}
      <div class="edit_panel">
        <h2>
          <a href="/users" class="user_name"><i class="fa fa-reply"></i></a> 
          {{first_name}} {{last_name}}
        </h2>
        <nav>
          <button class="add_button" onclick="openForm()"><i class="fa fa-plus"></i></button>
        </nav>
      </div>
    {{/if}}
  {{else}}
    <h2><a href="/users" class="user_name"><i class="fa fa-reply"></i></a> </h2>
  {{/each}}

  <div class="edit_panel", style="padding: 0;">
    <h2 style="margin-bottom: 0;">Renament:</h2>
  </div>

  <div class="edit_panel", style="padding: 0;">
    <h2 style="margin-bottom: 0;">Produkty:</h2>
  </div>

  {{#each summary}}
    {{#if (ifNot amount 0)}}
      {{#if (ifNot month_number -1)}}
        <hr>
        <h2>{{month_name}} {{month_year}}</h2>
      {{/if}}

      <section class="container_mtable">
        <table class="display-table">
          <tr>
            <th><a href="/summary/editsummary/{{id}}" 
              class="user_name">{{product_name}}</a></th>
          </tr>
          <tr class='op_color'>
            <td>{{amount}}</td>
          </tr>
          <tr class='op_color'>
            <td>{{price}} zł</td>
          </tr>
        </table>  
      </section>
      {{#if (ifNot total_product -1)}}
        <section class="sum_of_month">
          <table class="display-sumtable">
            <h3 style="margin-bottom: 0.35em; margin-top: 0.5em;">Suma:</h3>
            <tr>
              <th>Produkty: {{total_product}} zł</th>
              <th>Karnety: {{total_carnet}} zł</th>
            </tr>
          </table>
        </section>
      {{/if}}
    {{else}}
      {{#if @first}}
        <hr>
        <h2>{{month_name}} {{month_year}}</h2>
      {{/if}}
    {{/if}}
  {{/each}}

  <hr>
  <div class="form-popup" id="myForm">
    <form action="/summary/addnew" method="POST" class="form-container">
        <h1>Dodaj produkt</h1>
          <input name="userId" value={{summary.[0].userId}} style="display:none;"> 

          <label for="product_name">Produkt</label>
          <div class="input-group">
            <select id="product_name", name="product_name" class="input-box">
              {{#each products}}
                {{#if (ifNot product_name "NULL")}}
                  <option value={{product_name}}>{{product_name}}</option>
                {{/if}}
              {{/each}}
            </select>
          </div>

          <label for="amount">Ilość</label>
          <input type="text" name="amount" id="amount" class="input-box" placeholder="np. 1" maxlength="100"
            value={{amount}}>
          <label for="price">Cena PLN</label>
          <input type="text" name="price" id="price" class="input-box" placeholder="np. 170" maxlength="100"
            value={{price}}>
          <label for="first_name">Data</label>
          <div class="input-group">
            <select id="month_name" name="month_name" class="input-box-list">
              <option value={{summary.[0].month_name}}>{{summary.[0].month_name}}</option>
              <option value="Styczeń">Styczeń</option>
              <option value="Luty">Luty</option>
              <option value="Marzec">Marzec</option>
              <option value="Kwiecień">Kwiecień</option>
              <option value="Maj">Maj</option>
              <option value="Czerwiec">Czerwiec</option>
              <option value="Lipiec">Lipiec</option>
              <option value="Sierpień">Sierpień</option>
              <option value="Wrzesień">Wrzesień</option>
              <option value="Październik">Październik</option>
              <option value="Listopad">Listopad</option>
              <option value="Grudzień">Grudzień</option>
            </select>
            <select id="month_year" name="month_year" class="input-box-list">
              <option value={{summary.[0].month_year}}>{{summary.[0].month_year}}</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
              <option value="2029">2029</option>
              <option value="2030">2030</option>
            </select>
          </div>
        <button type="submit" class="btn btn-reverse">Dodaj</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Anuluj</button>
    
    </form>
  </div>

  <div class="form-popup" id="myDelete">
    <form action="/summary/erruser/{{summary.[0].userId}}" method="POST" class="form-container">
      <h1>Potwierdź operację</h1>
      <button type="submit" class="btn delete" onclick="closeDelete()">Usuń</button>
      <button type="button" class="btn cancel" onclick="closeDelete()">Anuluj</button>
    </form>
  </div>

</section>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>