<section id="display" class="user-wrap">

  <h1>All Users</h1>

  <table class="display-table">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
    </tr>
  </table>
  {{#each users}}
  <table class="display-table">
    {{#if (isEven id)}}
    <tr class='op_color'>
      <td>{{first_name}}
        {{#if (ifPos position 'supervisor')}}
        <span class="char-sigh">S</span></td>
      {{else if (ifPos position 'partner')}}
      <span class="char-sigh">P</span></td>
      {{/if}}
      <td>{{last_name}}</td>
    </tr>
    {{else}}
    <tr>
      <td>{{first_name}}
        {{#if (ifPos position 'supervisor')}}
        <span class="char-sigh">S</span></td>
        {{else if (ifPos position 'partner')}}
      <span class="char-sigh">P</span></td>
      {{/if}}
      </td>
      <td>{{last_name}}</td>
    </tr>
    {{/if}}
  </table>
  {{else}}
  <p>No users available</p>
  {{/each}}
</section>