<section id="display" class="user-wrap">

  <h1>Użytkownicy</h1>
  <table class="display-table">
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>{{month_1}}</br>Karnety | Produkty</th>
      <th>{{month_2}}</br>Karnety | Produkty</th>
      <th>{{month_3}}</br>Karnety | Produkty</th>
    </tr>
  </table>
  {{#each display}}
    {{#if (ifNot userId 1)}}
      <table class="display-table">
        {{#if (change)}}    
          <tr class='op_color'>
            <td> <a href="/mtable/display/{{userId}}" class="user_name">{{first_name}}</a>
              {{#if (ifPos position 'supervisor')}}
                <span class="char-sigh">S</span></td>
              {{else if (ifPos position 'partner')}}
                <span class="char-sigh">P</span></td>
              {{else if (ifPos position 'starszy')}}
                <span class="char-sigh">ST</span></td>
            {{/if}}
            <td>{{last_name}}</td>
            <td>{{total_carnet_1}}</td>
            <td>{{total_product_1}}</td>
            <td>{{total_carnet_2}}</td>
            <td>{{total_product_2}}</td>
            <td>{{total_carnet_3}}</td>
            <td>{{total_product_3}}</td>
          </tr>
        {{else}}
          <tr>
            <td> <a href="/mtable/display/{{userId}}" class="user_name">{{first_name}}</a>
              {{#if (ifPos position 'supervisor')}}
                <span class="char-sigh">S</span></td>
              {{else if (ifPos position 'partner')}}
                <span class="char-sigh">P</span></td>
              {{else if (ifPos position 'starszy')}}
                <span class="char-sigh">ST</span></td>
            {{/if}}
            </td>
            <td>{{last_name}}</td>
            <td>{{total_carnet_1}}</td>
            <td>{{total_product_1}}</td>
            <td>{{total_carnet_2}}</td>
            <td>{{total_product_2}}</td>
            <td>{{total_carnet_3}}</td>
            <td>{{total_product_3}}</td>
          </tr>
        {{/if}}
      </table>
    {{/if}}
  {{else}}
    <p>Brak osób</p>
  {{/each}}

  {{#each display}}
    {{#if @last}}
      <table class="display-suma" style="margin-top: 0.25em;">
        <tr>
          <td></td>
          <th>Suma</th>
          <td>{{totalSum_carnet_1}}</td>
          <td>{{totalSum_product_1}}</td>
          <td>{{totalSum_carnet_2}}</td>
          <td>{{totalSum_product_2}}</td>
          <td>{{totalSum_carnet_3}}</td>
          <td>{{totalSum_product_3}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="font-weight: bolder;">Karnety</td>
          <td style="font-weight: bolder;">Produkty</td>
          <td style="font-weight: bolder;">Karnety</td>
          <td style="font-weight: bolder;">Produkty</td>
          <td style="font-weight: bolder;">Karnety</td>
          <td style="font-weight: bolder;">Produkty</td>
        </tr>
      </table>
    {{/if}}
  {{/each}}
  
  {{#if (change)}}
  {{/if}}

</section>